@model ManageRoles.Models.SubMenuMaster

@{
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SubMenuMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ControllerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControllerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubMenuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubMenuName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
